name: Run Rosemary Tests and Notify Discord

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: pchub_root_password
          MYSQL_DATABASE: pchubdb_test
          MYSQL_USER: pchub_user
          MYSQL_PASSWORD: pchub_password
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
  test_and_notify:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: pchub_root_password
          MYSQL_DATABASE: pchubdb_test
          MYSQL_USER: pchub_user
          MYSQL_PASSWORD: pchub_password
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    
    - name: Setup environment
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -e ./

    - name: Run Rosemary tests
      id: rosemary_tests
      run: |
        rosemary test
        
      continue-on-error: true

    - name: Determine test result
      id: result
      run: |
        if [ "${{ steps.rosemary_tests.outcome }}" = "success" ]; then
          echo "result=Tests passed" >> $GITHUB_OUTPUT
        else
          echo "result=Tests failed" >> $GITHUB_OUTPUT
        fi

    - name: Send result to Discord
      uses: appleboy/discord-action@v1.2.0
      with:
        webhook_url: ${{ secrets.DISCORD_WEBHOOK }}
        message: |
          Git push detected on main branch.
          Resultado de tests con Rosemary: ${{ steps.result.outputs.result }}
